.search-page {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}
  
.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.search-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
    margin: 15px;
}
  
.favourites {
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
}
  
.favourite-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .search-layout {
      grid-template-columns: 1fr;
    }
  
    .favourites {
      order: -1;
      margin-bottom: 20px;
    }
  
    .results-grid {
      grid-template-columns: 1fr;
    }
}
  
  
  