footer {
    background: linear-gradient(to right, #0a1a2f,#28476f);
    padding: 40px 0;
    margin-top: 50px;

    
}
  
.footer-info {
    max-width: 1100px;
    margin: auto;
    color: white;
}
  
.top-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
  
.info h3 {
    margin-bottom: 10px;
}
  
.info p {
    color: rgb(255, 255, 255);
}
  
.info a {
    color: rgb(255, 161, 246);
    text-decoration: none;
    margin-right: 15px;
}
  
.info a:hover {
    text-decoration: underline;
}
  
hr {
    border: 1px solid rgb(197, 197, 197);
    width: 80%;
    margin: 20px auto;
}
  
.footer-copy,
.footer-tagline {
    text-align: center;
    color: rgb(197, 197, 197);
    font-size: 14px;
}

.social-links {
    display: flex;
    gap: 15px;
}
  
.social-links a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
}
  
.social-links a:hover {
    color: rgb(255, 161, 246);
}
  

@media (max-width: 768px) {
    .top-info {
      flex-direction: column;
      text-align: center;
    }
}
  
  